

<div class="content">
   <canvas id="myCanvas" width="504" height="456" style="border: 1px  solid black;">
   Sorry, but your browser does not support the HTML5 canvas tag.
   </canvas>
    <div class="gameOver" id="gameOver">GAME OVER<p><span onclick="entityManager.restart()">Restart</span></p></div>

    <div class="info">
        <h1>Pacman</h1>
        <p>Instructions:</p>
        <p>Press A to turn left</p>
        <p>Press W to turn up</p>
        <p>Press D to turn right</p>
        <p>Press S to turn down</p>
        <p>Press M to Mute</p>
        <p>Press P to Pause</p>
    </div>
    <div class="score">
        <div id="output"></div>
        <div id="lives"></div>
    </div>
</div>

<script src="pacman/globals.js"></script>
<script src="pacman/util.js"></script>
<script src="pacman/keys.js"></script>
<script src="pacman/Tile.js"></script>
<script src="pacman/Timer.js"></script>
<script src="pacman/levels.js"></script>
<script src="pacman/Gameboard.js"></script>
<script src="pacman/Sprite.js"></script>  
<script src="pacman/points.js"></script>
<script src="pacman/Pac.js"></script>
<script src="pacman/Ghost.js"></script>
<script src="pacman/entityManager.js"></script>
<script src="pacman/update.js"></script>
<script src="pacman/render.js"></script>
<script src="pacman/imagesPreload.js"></script>
<script src="pacman/main.js"></script>
<script src="pacman/PACMAN.js"></script>